.db_list_header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 15px;
    border-bottom: 1px solid rgba(0,0,0,.06);
    .header_left_box {
        .logo_box {
            font-size: 25px;
            margin-right: 25px;
            .logo_txt {
                margin-left: 10px;
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
        .header_input_box {
            // width: 300px;
            .header_input {
                background-color: #f2f6f7;
                width: 400px;
                padding: 6px 25px;
            }
        }
    }
    
}
.content_box {
    height: 100vh;
    // padding-top: 80px;
    background-color: #f2f6f7;
    padding: 80px 15px 15px;
    overflow: auto;

    .content_header {
        width: 100%;
        height: 80px;
    }
    .content_main {
        flex-wrap: wrap;
        justify-content: space-between;
        &>span {
            width: 300px;
        }
    }
    
}
