.select_db_list {
    width: 200px;
    list-style: none;
    .select_db_list_item {
        cursor: pointer;
        height: 30px;
        line-height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &:hover {
            background-color: rgba(109, 201, 255, 0.363);
        }
        .db_icon {
            font-size: 20px;
            margin-right: 8px;
        }
    }
}